.a-enter-vr-button {
    display: none;
}
#hud {
    position: absolute;
    top: 0%;
    width: 80vw;
    height: auto;
    padding-top: 5vh;
    z-index: 1;
    margin: 0 auto;
}
#imagen-txt {
    width: 100%;
    height: auto;
}
